@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --bg-color: #fff;
    --main-color: #1572A1;
    --color-font-main: #000;
    --font-family: 'Montserrat', sans-serif;
}