@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --bg-color: #fff;
    --main-color: #1572A1;
    --color-font-main: #000;
    --font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

/* HEADER */

header {
    height: 100vh;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .info-main h1, p {
    font-size: 3rem;
}

header .info-main h1 span {
    color: var(--main-color);
}

header .know-more {
    margin-top: 2rem;
}

header .know-more a {
    color: var(--main-color);
    font-size: 1.4rem;
    text-decoration: none;
    border: 1px solid var(--main-color);
    padding: 1.2rem;
}

@media (max-width: 800px) {
    header {
        width: 100vw;
        align-items: center;
        text-align: center;
    }

    header .info-main h1 span {
        display: block;
    }
}

@media (max-width: 400px) {
    header .info-main h1, p {
        font-size: 2rem;
    }

    header .know-more a {
        font-size: 1rem;
    }
}

/* END HEADER */

/* MAIN INFO (ABOUT) */

#about {
    /* height: 100vh; */
    background-color: var(--main-color);
    padding: 2rem;
}

#about h2 {
    text-align: center;
    font-size: 1.4rem;
    color: var(--bg-color);
    margin-bottom: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    height: 98%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    width: 60%;
}

.text p {
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 2rem;
    color: var(--bg-color);
}

.resume {
    margin: 2rem 0;
}

.resume a {
    color: var(--bg-color);
    font-size: 1.4rem;
    text-decoration: none;
    border: 1px solid var(--bg-color);
    padding: 1.2rem;
}

.social-media {
    display: flex;
    margin-top: 2rem;
}

.social {
    text-align: center;
    margin: 0 2rem 0 0;
}

.social:last-child {
    margin: 0;
}

.social a i {
    font-size: 2rem;
    color: var(--bg-color);
}

.social p {
    font-size: 1.4rem;
    color: var(--bg-color);
}

@media (max-width: 800px) {
    .text {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .text {
        width: 95%;
    }
}

/* END MAIN INFO (ABOUT) */